1.데이터 불러오기

In [114]:
import pandas as pd

# 파일 경로 목록
file_paths = [
    "서울교통공사_역별 시간대별 승하차인원(20.1~20.12).csv",
    "서울교통공사_역별 시간대별 승하차인원(21.1~21.12).csv",
    "서울교통공사_역별 시간대별 승하차인원(22.1~22.12).csv",
    "서울교통공사_역별 시간대별 승하차인원(23.1~23.12).csv",
    "서울교통공사_역별 시간대별 승하차인원(24.1~24.12).csv"
]

# 인코딩 문제 방지를 위해 cp949 사용
df_list = [pd.read_csv(fp, encoding='cp949') for fp in file_paths]

# 데이터프레임 이어붙이기
df = pd.concat(df_list, ignore_index=True)
df

C:\Users\User\AppData\Local\Temp\ipykernel_11000\3025352801.py:13: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(fp, encoding='cp949') for fp in file_paths]

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후
0,1,2020-01-01,1호선,150,서울역,승차,356,280,313,774,...,2972,3194,3342,3002,2857,2311,2523,1830,987,25.0
1,2,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,...,2286,2354,2261,1922,1696,1620,1181,768,426,77.0
2,3,2020-01-01,1호선,151,시청,승차,105,118,123,206,...,873,1019,1234,1383,1271,1061,991,572,217,2.0
3,4,2020-01-01,1호선,151,시청,하차,81,223,334,570,...,885,783,849,602,435,293,273,174,149,26.0
4,5,2020-01-01,1호선,152,종각,승차,798,366,198,236,...,1636,1748,1890,1879,1827,1955,1800,1259,406,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004409,199406,2024-12-31,8호선,2826,수진,하차,14,85,152,477,...,355,414,465,468,376,261,248,246,175,68.0
1004410,199407,2024-12-31,8호선,2827,모란,승차,80,103,332,400,...,389,537,440,381,247,136,170,140,90,50.0
1004411,199408,2024-12-31,8호선,2827,모란,하차,19,109,138,428,...,263,340,340,374,281,193,212,207,141,128.0
1004412,199409,2024-12-31,8호선,2828,남위례,승차,44,236,686,811,...,656,469,556,513,285,245,216,213,75,46.0
1004413,199410,2024-12-31,8호선,2828,남위례,하차,40,138,306,913,...,377,569,664,781,551,342,276,256,148,69.0

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004414 entries, 0 to 1004413
Data columns (total 26 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   연번       1004414 non-null  int64
 1   날짜       1004414 non-null  object
 2   호선       1004414 non-null  object
 3   역번호      1004414 non-null  object
 4   역명       1004414 non-null  object
 5   구분       1004414 non-null  object
 6   06시 이전   1004414 non-null  int64
 7   06시-07시  1004414 non-null  int64
 8   07시-08시  1004414 non-null  int64
 9   08시-09시  1004414 non-null  int64
 10  09시-10시  1004414 non-null  int64
 11  10시-11시  1004414 non-null  int64
 12  11시-12시  1004414 non-null  int64
 13  12시-13시  1004414 non-null  int64
 14  13시-14시  1004414 non-null  int64
 15  14시-15시  1004414 non-null  int64
 16  15시-16시  1004414 non-null  int64
 17  16시-17시  1004414 non-null  int64
 18  17시-18시  1004414 non-null  int64
 19  18시-19시  1004414 non-null  int64
 20  19시-20시  1004414 non-null  int64
 21  20시-21시  1004414 non-null  int64
 22  21시-22시  1004414 non-null  int64
 23  22시-23시  1004414 non-null  int64
 24  23시-24시  1004414 non-null  int64
 25  24시 이후   717694 non-null   float64
dtypes: float64(1), int64(20), object(5)
memory usage: 199.2+ MB

In [116]:
df = df.drop(['연번', '날짜', '역번호'], axis=1)
df

,호선,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,11시-12시,...,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후
0,1호선,서울역,승차,356,280,313,774,923,1418,2288,...,2972,3194,3342,3002,2857,2311,2523,1830,987,25.0
1,1호선,서울역,하차,235,952,828,1043,1694,1655,2047,...,2286,2354,2261,1922,1696,1620,1181,768,426,77.0
2,1호선,시청,승차,105,118,123,206,318,309,442,...,873,1019,1234,1383,1271,1061,991,572,217,2.0
3,1호선,시청,하차,81,223,334,570,611,612,822,...,885,783,849,602,435,293,273,174,149,26.0
4,1호선,종각,승차,798,366,198,236,310,379,666,...,1636,1748,1890,1879,1827,1955,1800,1259,406,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004409,8호선,수진,하차,14,85,152,477,233,191,191,...,355,414,465,468,376,261,248,246,175,68.0
1004410,8호선,모란,승차,80,103,332,400,241,241,268,...,389,537,440,381,247,136,170,140,90,50.0
1004411,8호선,모란,하차,19,109,138,428,219,197,234,...,263,340,340,374,281,193,212,207,141,128.0
1004412,8호선,남위례,승차,44,236,686,811,437,279,346,...,656,469,556,513,285,245,216,213,75,46.0
1004413,8호선,남위례,하차,40,138,306,913,361,256,233,...,377,569,664,781,551,342,276,256,148,69.0

In [117]:
df['호선'] = df['호선'].replace({1: '1호선', 2: '2호선', 3: '3호선', 4: '4호선', 5: '5호선', 6: '6호선', 7: '7호선', 8: '8호선'})
df.value_counts('호선')

호선
5호선    201084
2호선    182700
7호선    166692
6호선    135946
3호선    121802
4호선     95004
8호선     64646
1호선     36540
Name: count, dtype: int64

In [118]:
# 시간대(승-하차 인원) 컬럼만 추출
time_cols = df.columns.difference(
    ["호선", "역명", "구분"]
)

# 두 행씩 묶을 ‘pair’ 번호 부여
df["pair"] = df.index // 2          # 0,0,1,1,2,2 …

# 승차·하차 합계 계산
sum_df = df.groupby("pair")[time_cols].sum()

# 날짜·역명 등 메타데이터는 짝수행(승차)에서만 가져옴
meta = (
    df.loc[df.index % 2 == 0, ["호선", "역명", "구분"]]
      .set_index(df.loc[df.index % 2 == 0, "pair"])
)

# 합치고 정리
df = pd.concat([meta, sum_df], axis=1).reset_index(drop=True)
df = df.drop(columns=["구분"], axis=1)

df

,호선,역명,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,11시-12시,12시-13시,...,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후
0,1호선,서울역,591,1232,1141,1817,2617,3073,4335,4947,...,5258,5548,5603,4924,4553,3931,3704,2598,1413,102.0
1,1호선,시청,186,341,457,776,929,921,1264,1530,...,1758,1802,2083,1985,1706,1354,1264,746,366,28.0
2,1호선,종각,869,557,493,747,1165,1405,1989,2428,...,3246,3198,3242,3011,2552,2500,2144,1484,552,31.0
3,1호선,종로3가,391,336,343,561,905,1418,2188,2837,...,3229,2972,2826,2198,1713,1423,1241,948,460,91.0
4,1호선,종로5가,82,174,237,383,631,963,1620,2485,...,2547,2572,2263,1581,1281,1087,807,497,212,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502202,8호선,단대오거리,393,864,2026,2562,1302,870,870,968,...,1481,1713,1830,2072,1463,890,800,656,367,190.0
502203,8호선,신흥,145,339,742,1082,582,421,446,587,...,860,908,930,1004,670,455,389,329,176,64.0
502204,8호선,수진,148,309,759,1225,646,500,474,575,...,719,797,817,840,588,399,381,316,204,96.0
502205,8호선,모란,99,212,470,828,460,438,502,602,...,652,877,780,755,528,329,382,347,231,178.0
502206,8호선,남위례,84,374,992,1724,798,535,579,649,...,1033,1038,1220,1294,836,587,492,469,223,115.0

In [119]:
clos = df.columns[5:]
df['하루_유동인구'] = df[clos].sum(axis=1)
df

,호선,역명,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,11시-12시,12시-13시,...,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,하루_유동인구
0,1호선,서울역,591,1232,1141,1817,2617,3073,4335,4947,...,5548,5603,4924,4553,3931,3704,2598,1413,102.0,63762.0
1,1호선,시청,186,341,457,776,929,921,1264,1530,...,1802,2083,1985,1706,1354,1264,746,366,28.0,21836.0
2,1호선,종각,869,557,493,747,1165,1405,1989,2428,...,3198,3242,3011,2552,2500,2144,1484,552,31.0,35005.0
3,1호선,종로3가,391,336,343,561,905,1418,2188,2837,...,2972,2826,2198,1713,1423,1241,948,460,91.0,31582.0
4,1호선,종로5가,82,174,237,383,631,963,1620,2485,...,2572,2263,1581,1281,1087,807,497,212,17.0,24245.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502202,8호선,단대오거리,393,864,2026,2562,1302,870,870,968,...,1713,1830,2072,1463,890,800,656,367,190.0,20202.0
502203,8호선,신흥,145,339,742,1082,582,421,446,587,...,908,930,1004,670,455,389,329,176,64.0,10199.0
502204,8호선,수진,148,309,759,1225,646,500,474,575,...,797,817,840,588,399,381,316,204,96.0,9710.0
502205,8호선,모란,99,212,470,828,460,438,502,602,...,877,780,755,528,329,382,347,231,178.0,9044.0
502206,8호선,남위례,84,374,992,1724,798,535,579,649,...,1038,1220,1294,836,587,492,469,223,115.0,12994.0

# 2. 역별 하루평균 유동인구수

In [120]:
df_name_mean = df.groupby('역명')['하루_유동인구'].mean().reset_index()
df_name_mean = df_name_mean.rename(columns={'하루_유동인구': '역별_하루_평균유동인구'})

df_name_mean

              역명   역별_하루_평균유동인구
0           가락시장   13868.755610
1        가산디지털단지   65980.427477
2             강남  134036.851122
3           강남구청   27230.596059
4             강동   28539.310892
..           ...            ...
250           홍제   27513.486590
251           화곡   42563.513410
252  화랑대(서울여대입구)   15487.620690
253    회현(남대문시장)   42624.835249
254        효창공원앞   11113.273673

[255 rows x 2 columns]

In [121]:
df_name_mean.to_csv('역별_하루_평균유동인구(2020~2024).csv', index=False, encoding='cp949')

In [122]:
df_1 = pd.read_csv('역별_하루_평균유동인구(2020~2024).csv', encoding='cp949')
df_1

              역명   역별_하루_평균유동인구
0           가락시장   13868.755610
1        가산디지털단지   65980.427477
2             강남  134036.851122
3           강남구청   27230.596059
4             강동   28539.310892
..           ...            ...
250           홍제   27513.486590
251           화곡   42563.513410
252  화랑대(서울여대입구)   15487.620690
253    회현(남대문시장)   42624.835249
254        효창공원앞   11113.273673

[255 rows x 2 columns]

# 3. 호선별 하루평균 유동인구수

In [124]:
df_line_mean = df.groupby('호선')['하루_유동인구'].mean().reset_index()
df_line_mean = df_line_mean.rename(columns={'하루_유동인구': '호선별_하루_평균유동인구'})

df_line_mean

    호선  호선별_하루_평균유동인구
0  1호선   38250.177833
1  2호선   44877.723295
2  3호선   25162.052708
3  4호선   31215.177382
4  5호선   18129.100416
5  6호선   14209.627426
6  7호선   21455.866268
7  8호선   17008.783343